#background{
  background-image: url('../img/alsaco-canadien.jpg');
}

input[type], input[type]:focusje suis un ccaribou
, button[type] { box-shadow: 0 0 8px red; }

button[type] { background: red; color: white; }

article header h1, h2, label { color: black; }