body {
  padding-top: 60px;
}

#home-search {
  padding-top: 20%;
  padding-bottom: 5%;
  text-align: center;
}

#home-cloudtags {
  margin: 0; padding: 0;
  text-align: center;
}

#home-cloudtags li {
  display: inline-block;
  margin: 0; padding: 5px; list-style-type: none;
}