html{
  height: 100%;
}

#background {
  position: fixed !important;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1000;
  background-image: url('../img/search-background.jpg');
  background-size: cover;
  background-position: center center;
}
#background-filter {
  position: fixed !important;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -500;
  background-image: url('../img/r10.png');
}

body {
  background-color: transparent;
  height: 100%;
}

.align-center { text-align: center; }


#home-search {
  padding-top: 20%;
  padding-bottom: 5%;
  text-align: center;
}

#home-cloudtags {
  margin: 0; padding: 0;
  text-align: center;
}

#home-cloudtags li {
  display: inline-block;
  margin: 0; padding: 5px; list-style-type: none;
}

.dblock > div {
  padding: .5em;
  background-color: #eaeaea;
  border-radius: 8px;
}

#search-search {
  text-align: center;
}

#search-items article figure { min-width: 80px; min-height: 80px; }
#search-items article .tags { margin: 0; padding: 0; }
#search-items article .tags li { margin: 0; padding: 0; list-style-type: none; display: inline-block; }
#search-items article .more * { display: none; }
#search-items article:hover .more * { display: block; }
#search-items > div { padding: 1.5em; padding-left: 0; }

#search-item article figure { width: auto; height: auto; min-width: 120px; min-height: 120px; }
#search-item article .tags { margin: 0; padding: 0; }
#search-item article .tags li { margin: 0; padding: 0; list-style-type: none; display: inline-block; }
#search-item article .more * { display: none; }
#search-item article:hover .more * { display: block; }
#search-item .col-img { text-align: center; }
#search-item > div { padding: 1.5em; padding-left: 0; }

.form-actions{
  text-align: right;
  background: none;
  border: none;
  margin-top: -20px;
}
.logo{
  position: absolute;
}
h1, h2{
  font-family: "Imprima", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav-title{
  font-family: "Imprima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cc0000;
  margin-left: 80px;
}
#container{
  padding-top: 60px;
  padding-bottom: 50px;
}
article header h1{
  color: #ffffff;
}
label{
  color: #ffffff;
}

#caribou { position: absolute; bottom: 1%; left: 40%; right: 40%; text-align: center; }

footer { padding: .5em; font-size: .75em; opacity: .5; }
footer, footer * { text-align: center; color: black; }
footer a { text-decoration: underline; }